<main>
    <div>
      <span>Celebra con estilo y alegría.</span>
      <h1>Importadora Cumpleaños</h1>
      <hr>
      <p>Todo para sus fiestas y momentos especiales.</p>
      <a routerLinkActive="active" routerLink="Consultas/bodegas" >Buscar Productos</a>
    </div>
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide swiper-slide--one">
          <div>
            <h2>Globos</h2>
            <p>Disponemos de gran variedad de globos</p>
            <img src="../../../../../../assets/images/fondoPantalla.jpg" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
        <div class="swiper-slide swiper-slide--two">
          <div>
            <h2>Juguetes</h2>
            <p>Disponemos de gran variedad de juguetes</p>
            <img src="../../../../../../assets/images/cajaregalo.jpg" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
        <div class="swiper-slide swiper-slide--three">
          <div>
            <h2>Serpentinas</h2>
            <p>Disponemos de gran variedad de serpentinas</p>
            <img src="../../../../../../assets/images/globos.jpg" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
        <div class="swiper-slide swiper-slide--four">
          <div>
            <h2>Cajas de regalo</h2>
            <p>Disponemos de gran variedad de cajas de regalo</p>
            <img src="../../../../../../assets/images/decoracion.jpg" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
        <div class="swiper-slide swiper-slide--five">
          <div>
            <h2>Disfraces</h2>
            <p>Disponemos de gran variedad de disfraces</p>
            <img src="../../../../../../assets/images/caja_regalo.jpg" alt="Globos" class="swiper-slide-image">
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <img src="../../../../../../assets/images/globo.jpg" alt="" class="bg">
    <img src="../../../../../../assets/images/globo.jpg" alt="" class="bg2">
  </main>
  